<div class="footer">
        <div class="footer__info--social">
            <p>Follow us</p>
            <a href="#"><img src="../../../../assets/resources/facebook.svg" alt="" srcset=""></a>
            <a href="#"><img src="../../../../assets/resources/instagram.svg" alt="" srcset=""></a>
            <a href="#"><img src="../../../../assets/resources/twitter.svg" alt="" srcset=""></a>
        </div>
        <div class="footer__info">
            <div class="" style="width: 25%;">
                <h3>About Us</h3>
                    <li>We want to help passengers to rech ther destinations</li>
            </div>
            <div class="">
                <h3>Explore</h3>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Destinations</a></li>
                    <li><a href="#">About</a></li>
            </div>
            <div class="">
                <h3>Information</h3>
                    <li><a href="#">More search</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Testimonials</a></li>
            </div>
            <div class="">
                <h3>Services</h3>
                    <li><a href="#">Manage my Bookings</a></li>
                    <li><a href="#">Checkin</a></li>
                    <li><a href="#">Hotel</a></li>
                    <li><a href="#">Cars</a></li>
            </div>
        </div>
</div>