<div class="menu-offers">
    <h2>Menu</h2>
        <li><img src="../../../../assets/resources/triangulo.webp" width="15px" alt="" srcset=""><a href="">Check-in</a></li>
        <hr>
        <li><img src="../../../../assets/resources/triangulo.webp" width="15px" alt="" srcset=""><a href="">Manage My Booking</a></li>
        <hr>
        <li><img src="../../../../assets/resources/triangulo.webp" width="15px" alt="" srcset=""><a href="">Search</a></li>
        <hr>
        <li><img src="../../../../assets/resources/triangulo.webp" width="15px" alt="" srcset=""><a href="">Destinations</a></li>
        <hr>
        <li><img src="../../../../assets/resources/triangulo.webp" width="15px" alt="" srcset=""><a href="">Members</a></li>
</div>
