<div class="contenedor-navbar">
    <div class="title">
        <h1>
            <a href="#">AIRLINE</a>
        </h1>
    </div>
    <div class="menu">
        <div class="lenguage">
            <ng-container *ngIf="this.lenguageValue.value != ''; else travelTemplate">
                <span class="lenguage__item">{{lenguageValue}}</span>
            </ng-container>
            <ng-template #travelTemplate>
                <span class="lenguage__item">EN</span>
            </ng-template>
            <div class="circle">
                <span class="circle__uno"></span>
                <span class="circle__dos"></span>
            </div>
            <div class="lenguage__options">
                <select name="lenguage" id="lenguage" size="5" [(ngModel)]="lenguageValue">
                    <option *ngFor="let v of lenguages" [value]="v.abbreviation">
                        {{v.abbreviation}}-{{v.language}}
                    </option>
                </select>
            </div>
        </div>
        <input type="checkbox" name="" id="chk">
        <label for="chk" class="menu__btn--show"><img src="../../../../assets/resources/menu.png" width="20px" alt="" srcset=""></label>
        <ul class="menu__list">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Destination</a>
            <a href="">Contact</a>
            <label for="chk" class="menu__btn--hidden">XX</label>
        </ul>
    </div>
</div>
